<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Телефонна книга</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/bootstrap.min.css}" />
</head>
<body>
<a href="/login" th:align="center"> Вхід для користувачів </a>
        <br> </br>
<a href="/register" th:align="center"> Реєстрація</a>
</body>
</html>